body {
    height: 90vh;
    font-family: Arial, sans-serif;
    background: url("TCGC building.jpeg") no-repeat center/ cover;
    padding: 30px 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

h1 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: white 0 0 10px;
    padding: 15px;
    border-radius: 10px;
    color: black;
}

h1:hover {
    color: red;
    box-shadow: rgb(255, 255, 255) 0 0 20px;
    transform: scale(1.05);
}

.card {
    box-shadow: rgb(0, 0, 0) 0 0 20px;
    padding: 30px;
    border-radius: 20px;
    border: 2px white 0 0 30px;
    background-color: rgb(2, 203, 2);
}

.card:hover {
    box-shadow: rgb(12, 121, 204) 0 0 30px;
    transform: scale(1.05);
}

.container {
    padding: 30px;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    box-shadow: white 0 0 30px;
}