body {
    width: 100%;
    height: 30vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(41, 121, 232);
    color: #333;
}

header {

    height: 90%;
    background: linear-gradient(to right, #3867d6, #4b6584);
    color: #fff;
    text-shadow: white 0 0 30px;
    text-align: center;
    padding: 40px 20px;
    background-image: url('https://images.unsplash.com/photo-1523731407965-2430cd12f5e4?auto=format&fit=crop&w=1500&q=80');
    background-size: cover;
    background-blend-mode: overlay;
    transition: 0.5s;
    transform: translate(-10px, -20px);
}

.animated {
    transform: translateY(30px);
    opacity: 0;
    animation: slide-in 4s ease forwards;
    animation-delay: 0;
}

@keyframes slide-in {
    100% {

        transform: translateY(0);
        opacity: 1;

    }
}


header h1 {
    margin: 0;
    font-size: 3rem;
    margin-left: 50px;

}

header p {
    margin: 10px 0 0;
    font-size: 1.3rem;
    margin-left: 40px;

}

nav {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #8ebb06, #d0ef02);
    transform: scale(0);
    animation: zoom-in 1s ease forwards;
}

@keyframes zoom-in {
    100% {
        transform: scale(1)
    }

}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px;
    transition: 0.3s;
    font-weight: bold;
    margin-left: 50px;

}

nav a:hover {
    border-radius: 20px;
    background-color: #242528;
}

#faith-tech,
#digital-ethics {
    max-width: 1000px;
    margin: auto;
    padding: 5px 90px;
    transition: 0.5s;
    transform: translate(-10px, -20px);

}

.animated {
    transform: translateY(30px);
    opacity: 0;
    animation: slide-in 4s ease forwards;
    animation-delay: 0;
}

@keyframes slide-in {
    100% {

        transform: translateY(0);
        opacity: 1;

    }

}

section h2 {
    padding: 10px;
    margin-right: 20%;
    margin-left: 20%;
    border-bottom: 3px solid rgb(0, 0, 0);
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    text-shadow: white 0 0 30px;
}

.card {
    background: linear-gradient(180deg, #8ebb06, #d0ef02);
    border-radius: 25px;
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.1);
    padding: 30px;
    margin: 25px 0;
    margin-left: 5%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

.card h3 {
    margin-top: 0;
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 5px;
    background: linear-gradient(180deg, #8ebb06, #d0ef02);
    color: #fff;
    width: 100%;

}

.container {
    margin: 10px;
    padding: 10px 60px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s;
    transform: translate(-10px, -20px);
    transition: 0.5s;

}

.container:hover {

    background: #95dc07;
    box-shadow: white 0 0 30px;
}

.container:active {
    transform: scale(0.8);
    background: #8ebb06;
}

.login-logo {
    width: 90px;
    height: 90px;
    box-shadow: white 0 0 30px;
    border: 2px solid white;
    margin-bottom: none;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    animation-delay: 1.5s;
}

#digital {
    margin-left: 38%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
}